table.table-min {
  font-size: 10px;
} 

table.dataTable tfoot th, 
table.dataTable tfoot td,
table.dataTable thead th, 
table.dataTable thead td {
  padding: 6px 8px;
}
.mb-1{
	margin-bottom: 1em;
}

.mb-2{
	margin-bottom: 2em;
}

.mb-3{
	margin-bottom: 3em;
}

.form-group.form-md-line-input.input-check{
	margin: 0;
    padding: 0 15px;	
}

.form-group.form-md-line-input input[name^="d_"].form-control[readonly]{
	cursor: pointer; 
}

.has-success .bootstrap-select .btn {
    border-color: oldlace;
    border-bottom: 1px solid #27a4b0;
}  

.has-info .bootstrap-select .btn {
    border-color: oldlace;
    border-bottom: 1px solid #327ad5;
}  

.dropdown-menu open{
	max-height: 300px;
}
.form-usuario{
  /*height: 200px;
  background-color: #000;*/
}

.portlet.light .dataTables_wrapper .dt-buttons {
    margin-top: 0px;
}
.dataTables_wrapper .dt-buttons {
    float: left;
}     


.modal-open .bootstrap-select .dropdown-menu {
    z-index: 10060!important;
}